<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.webServer>
    <modules>
      <add name="AddHeaderModule" type="AddHeaderModule.AddHeader"/>
    </modules>
  </system.webServer>
  <appSettings>
    <!--add custom headers here. If you wish to use IIS Server variables surround them in {}-->
    <add key="X-Forwarded-User" value="{AUTH_USER}"/>
  </appSettings>
</configuration>
